{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=safecitydb;Username=postgres;Password=drone123"
  },
  "Jwt": {
    "SecretKey": "RASDGHIJAERTUIOGH4QW5789TSRHIJSFZDKBJ234587UISDFHXDZFH9SFDH96S6DF89!",
    "Issuer": "SafeCityAPI",
    "Audience": "SafeCityClients"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}